html,body{
	font-family: 'Noto Serif TC', serif;
	width:100%;
	margin:auto;
	background-position: center;
	background-size:100%;
	background-image:url('https://i.imgur.com/KzZQcfn.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color:#d6c8ba;
	
}




.nav-bar-left{
	height: 200px;
	width: 200px;
	margin-left: 50px;
}

.nav-bar-left img{
	height: 200px;
	width: 200px;

}

.nav-bar{
	width: 100%;
	display: inline-flex;
	flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-right{
	margin-right: 50px;
}

.list{
	width: 100%;
	list-style: none;
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
}

.list-item-link{
	margin-right: 40px;
	color: 	#7c6d67;
	font-family: 'Noto Serif TC', serif;
	font-weight: bolder;
	font-size: 18.4px;
	text-decoration-line: none;
	letter-spacing: 3px;
}

.list-item-link:hover{
	color: #f69f61;
	text-decoration-line: none;
}





.title{
	font-family: 'Noto Serif TC', serif;
	font-weight: bolder;
	color: 	#594a47;
	font-size: 46.2px;
	letter-spacing: 10px;
}

.line{
	
    height: 46.2px;
    border-right: solid #f69f61 5px;
    margin-left: 120px;
    margin-right: 20px;
}

.header{
	width: 100%;
	display: inline-flex;
	align-items: center;
	margin-bottom: 50px;
}

.article{
	margin: 60px;
	padding-left: 80px;
	padding-right: 80px;
	font-family: 'Noto Serif TC', serif;
	font-weight: bolder;
	color: 	#594a47;
	font-size: 20px;
	letter-spacing: 10px;
}

.command{
	font-size: larger;
	color: #F57624;
}

.recommendation{
	display:flex;
	flex-direction: row;
}

svg {
	height: 150vh;
	
  }

path {
	stroke: white;
	fill: #d6c8ba;
	transition: 0.5s;
	cursor: pointer;
  }
path:hover {
	fill: #f69f61;
	transform: translate(-5px, -5px);
  }

.coffeeinformation{
	display:flex;
	flex-direction: column;
}
  
.countryinfo_1{
	display:none;
	background-color: #5E656E;
	opacity: 60%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color: azure;
	line-height: 30px;
	font-family: 'Noto Serif TC', serif;
	font-weight:600;
	font-size: 18px;
	letter-spacing: 6px;
}

.chiayi_1:hover .countryinfo_1{
	display:block;
	fill: #f69f61;
	transform: translate(-5px, -5px);
	display: none;
	width:300px;
	height:180px;
	margin-right:0;
	
  }

.countryinfo_2{
	background-color: #5E656E;
	opacity: 60%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color: azure;
	line-height: 30px;
	font-family: 'Noto Serif TC', serif;
	font-weight:600;
	font-size: 18px;
	letter-spacing: 6px;		
}

.countryinfo_3{
	background-color: #5E656E;
	opacity: 60%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color: azure;
	line-height: 30px;
	font-family: 'Noto Serif TC', serif;
	font-weight:600;
	font-size: 18px;
	letter-spacing: 6px;		
}

.countryinfo_4{
	background-color: #5E656E;
	opacity: 60%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color: azure;
	line-height: 30px;
	font-family: 'Noto Serif TC', serif;
	font-weight:600;
	font-size: 18px;
	letter-spacing: 6px;		
}

.countryinfo_5{
	background-color: #5E656E;
	opacity: 60%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color: azure;
	line-height: 30px;
	font-family: 'Noto Serif TC', serif;
	font-weight:600;
	font-size: 18px;
	letter-spacing: 6px;		
}

.countryinfo_6{
	background-color: #5E656E;
	opacity: 60%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color: azure;	
	line-height: 30px;
	font-family: 'Noto Serif TC', serif;
	font-weight:600;
	font-size: 18px;
	letter-spacing: 6px;	
}

.countryinfo_7{
	background-color: #5E656E;
	opacity: 60%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color: azure;		
	line-height: 30px;
	font-family: 'Noto Serif TC', serif;
	font-weight:600;
	font-size: 18px;
	letter-spacing: 6px;
}

.countryinfo_8{
	background-color: #5E656E;
	opacity: 60%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color: azure;	
	line-height: 30px;
	font-family: 'Noto Serif TC', serif;
	font-weight:600;
	font-size: 18px;
	letter-spacing: 6px;	
}

.countryinfo_9{
	background-color: #5E656E;
	opacity: 60%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color: azure;	
	line-height: 30px;
	font-family: 'Noto Serif TC', serif;
	font-weight:600;
	font-size: 18px;
	letter-spacing: 6px;	
}

.countryinfo_10{
	background-color: #5E656E;
	opacity: 60%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color: azure;
	line-height: 30px;
	font-family: 'Noto Serif TC', serif;
	font-weight:600;
	font-size: 18px;
	letter-spacing: 6px;		
}

.countryinfo_11{
	background-color: #5E656E;
	opacity: 60%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color: azure;
	line-height: 30px;
	font-family: 'Noto Serif TC', serif;
	font-weight:600;
	font-size: 18px;
	letter-spacing: 6px;		
}

.countryinfo_12{
	background-color: #5E656E;
	opacity: 60%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color: azure;	
	line-height: 30px;
	font-family: 'Noto Serif TC', serif;
	font-weight:600;
	font-size: 18px;
	letter-spacing: 6px;	
}

.countryinfo_13{
	background-color: #5E656E;
	opacity: 60%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color: azure;		
	line-height: 30px;
	font-family: 'Noto Serif TC', serif;
	font-weight:600;
	font-size: 18px;
	letter-spacing: 6px;
}

.countryinfo_14{
	background-color: #5E656E;
	opacity: 60%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color: azure;
	line-height: 30px;
	font-family: 'Noto Serif TC', serif;
	font-weight:600;
	font-size: 18px;
	letter-spacing: 6px;		
}

.countryinfo_15{
	background-color: #5E656E;
	opacity: 60%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color: azure;	
	line-height: 30px;
	font-family: 'Noto Serif TC', serif;
	font-weight:600;
	font-size: 18px;
	letter-spacing: 6px;	
}

.countryinfo_16{
	background-color: #5E656E;
	opacity: 60%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color: azure;	
	line-height: 30px;
	font-family: 'Noto Serif TC', serif;
	font-weight:600;
	font-size: 18px;
	letter-spacing: 6px;	
}

.countryinfo_17{
	background-color: #5E656E;
	opacity: 60%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color: azure;		
	line-height: 30px;
	font-family: 'Noto Serif TC', serif;
	font-weight:600;
	font-size: 18px;
	letter-spacing: 6px;
}

.countryinfo_18{
	background-color: #5E656E;
	opacity: 60%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color: azure;	
	line-height: 30px;
	font-family: 'Noto Serif TC', serif;
	font-weight:600;
	font-size: 18px;
	letter-spacing: 6px;	
}

.countryinfo_19{
	background-color: #5E656E;
	opacity: 60%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:10px;
	padding-bottom:30px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	color: azure;		
	line-height: 30px;
	font-family: 'Noto Serif TC', serif;
	font-weight:600;
	font-size: 18px;
	letter-spacing: 6px;
}

.icon{
	z-index: 10;          
	   position: fixed; 
	   bottom: 10px;
	   display: flex;
	   justify-content: flex-end;
	   margin-right: 30px;
}
   
.icon img{
	width: 7%;
	cursor: pointer;
}

 
.footer{
	width: 100%;
	height: 50px;
	font-family: 'Alegreya', serif;
	font-size: 16px;
	text-align: center;
	background-color: #594a47;
	color: #ffffff;
	display: flex;
    align-items: center;
    justify-content: center;
	letter-spacing: 7px;

}